/*=============== Cart ====================================================================================================================================================================*/

.cart {
    background-color: #fff;
}

.cart-wrapper {
    padding-top: 70px;
}

.cart-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.cart-table-wrapper {
    width: 100%;
    overflow: auto;
    margin-right: 30px;
}

.cart-table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
}

.cart-table thead {
    background-color: #fff9e5;
}

.cart-table th {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 15px;
    text-align: left;
}

.cart-table td {
    padding: 20px 15px;
}

.cart-item__image {
    padding: 20px 0 !important;
    width: 100px;
    min-width: 100px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.cart-item__image::before {
    content: "";
    display: block;
    padding-top: 100%;
    background-color: #fbebb5;
    border-radius: 10px;
    overflow: hidden;
}

.cart-item__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 100%;
    max-height: 100%;
}

.cart-item__name {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cart-item__price {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cart-item__quantity input {
    border-radius: 5px;
    border: 1px solid #9f9f9f;
    width: 35px;
    height: 30px;
    padding-left: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cart-item__subtotal {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cart-item__remove {
    padding: 0 !important;
}

.cart-item__remove button {
    background-color: transparent;
    border: none;
    padding: 5px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.cart-item__remove button:hover {
    -webkit-transform: scale(1.1) translateY(-3px);
    -ms-transform: scale(1.1) translateY(-3px);
    transform: scale(1.1) translateY(-3px);
}

.cart-item__remove button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.cart-bill {
    max-width: 390px;
    width: 100%;
    background-color: #fff9e5;
    padding: 15px;
}

.cart-bill__title {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 50px;
}

.cart-bill__container {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.cart-bill__subtotal {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cart-bill__subtotal span {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cart-bill__total {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cart-bill__total span {
    color: #b88e2f;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.cart-bill__button-wrapper {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.cart-bill__button {
    display: inline-block;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    border-radius: 15px;
    border: 1px solid #000;
    width: 100%;
    text-decoration: none;
    padding: 12px 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
    -webkit-transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.cart-bill__button:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #000;
    -webkit-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
    pointer-events: none;
}

.cart-bill__button:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.cart-bill__button:hover:before {
    left: 0;
    width: 100%;
}

.cart-bill__button:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

/*=============== /Cart ====================================================================================================================================================================*/

@media (max-width: 991.98px) {
    .cart-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .cart-table-wrapper {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .cart-bill {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media (max-width: 767.98px) {
    .cart-wrapper {
        padding-top: 50px;
    }

    .cart-bill__title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .cart-bill__container {
        margin-bottom: 30px;
    }

    .cart-bill__subtotal {
        margin-bottom: 20px;
    }

    .cart-bill__total span {
        font-size: 18px;
    }

    .cart-bill__button-wrapper {
        max-width: 180px;
    }

    .cart-bill__button {
        padding: 8px;
        font-size: 18px;
    }
}