/*=============== Contact ====================================================================================================================================================================*/

.contact {
    background-color: #fff;
}

.contact-wrapper {
    padding-top: 90px;
}

.contact-content {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
}

.contact-content__title {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    text-align: center;
}

.contact-content__text {
    color: #9f9f9f;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.contact-block__info {
    max-width: 260px;
    width: 100%;
    margin-right: 30px;
}

.contact-block__form {
    max-width: 530px;
    width: 100%;
}

.contact-info__list {
    padding: 0;
    list-style-type: none;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 40px;
}

.contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact-item__image img {
    display: block;
    width: 22px;
    margin: 8px 30px 0 0;
}

.contact-item__content {
    max-width: 250px;
}

.contact-item__heading {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.contact-item__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.contact-item__text a {
    color: #000;
    text-decoration: none;
}

.contact-item__text a:hover {
    text-decoration: underline;
}

.contact-form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -10px;
}

.contact-form .row:not(:last-child) {
    margin-bottom: 20px;
}

.contact-form .block {
    width: 100%;
    padding: 0 10px;
}

.contact-form .block label {
    display: block;
    margin-bottom: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.contact-form .block input,
.contact-form .block textarea {
    border-radius: 10px;
    border: 1px solid #9f9f9f;
    background: #fff;
    width: 100%;
    padding: 15px 10px;
}

.contact-form .block textarea {
    resize: vertical;
    height: 120px;
}

.contact-form button {
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding: 12px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    max-width: 240px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    -webkit-transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.contact-form button:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #000;
    -webkit-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
    pointer-events: none;
}

.contact-form button:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.contact-form button:hover:before {
    left: 0;
    width: 100%;
}

.contact-form button:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

/*=============== /Contact ====================================================================================================================================================================*/

@media (max-width: 767.98px) {
    .contact-wrapper {
        padding-top: 50px;
    }

    .contact-content {
        margin-bottom: 70px;
        max-width: 500px;
    }

    .contact-content__title {
        font-size: 30px;
    }

    .contact-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contact-block__info {
        margin-right: 0;
        max-width: unset;
    }

    .contact-block__form {
        margin-bottom: 50px;
    }

    .contact-info__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: -10px;
    }

    .contact-info__item:not(:last-child) {
        margin: 0;
    }

    .contact-item {
        padding: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .contact-item__image img {
        margin: 0;
        margin-bottom: 5px;
    }

    .contact-form .block label {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .contact-form .block input,
    .contact-form .block textarea {
        padding: 12px 10px;
    }

    .contact-form button {
        padding: 10px;
        font-size: 16px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 599.98px) {
    .contact-content {
        margin-bottom: 50px;
    }

    .contact-content__title {
        font-size: 26px;
    }

    .contact-content__text {
        font-size: 14px;
    }
}